In [ ]:
bt = get_backtest('5e866b22c4dc83459fdca714')
bt.create_full_tear_sheet()

100% Time:  0:00:21|##########################################################|

/venvs/py35/lib/python3.5/site-packages/statsmodels/nonparametric/kdetools.py:20: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  y = X[:m/2+1] + np.r_[0,X[m/2+1:],0]*1j

## Performance Relative to Common Risk Factors